{% extends 'layouts/nav.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Startseite</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        class="text-success">Anzahl der Dicombilder</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ documents_count }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-image fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-danger m-0 fw-bold">Server System Information</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>System</th>
                                <th>NodeName</th>
                                <th>Release</th>
                                <th>Version</th>
                                <th>Machine</th>
                                <th>Processor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ server.System }}</td>
                                <td>{{ server.NodeName }}</td>
                                <td>{{ server.Release }}</td>
                                <td>{{ server.Version }}</td>
                                <td>{{ server.Machine }}</td>
                                <td>{{ server.Processor }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}