<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Einloggen</h3>
    </div>
</div>
<div class="p-5">
    <div class="text-center">
        <h4 class="text-dark mb-4">Bitte Nutzer und Passwort eingeben</h4>
    </div>
    <form class="user">
        <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail"
                                 aria-describedby="emailHelp" placeholder="E-Mail Adresse" name="email"></div>
        <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword"
                                 placeholder="Passwort" name="password"></div>
        <button class="btn btn-primary d-block btn-user w-100" type="submit">Einloggen</button>
        <hr>
    </form>
    <div class="alert alert-danger" role="alert"><span><strong>Achtung&nbsp;</strong>Bitte prüfen Sie Ihre Daten nochmal</span>
    </div>
    <div class="text-center"><a class="small" href="forgot-password.html">Falls Sie Ihr Passwrot vergessen haben, wenden
        Sie sich an den Admin</a></div>
</div>