{% extends 'layouts/nav.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Einloggen</h3>
        </div>
    </div>
    <div class="p-5">
        <div class="text-center">
            <h4 class="text-dark mb-4">Bitte Nutzer und Passwort eingeben</h4>
        </div>
        <form class="user" method="post">
            {% csrf_token %}
            {{ login_form }}
            <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleInputUser"
                                     aria-describedby="UserHelp" placeholder="Nutzername" name="username"></div>
            <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword"
                                     placeholder="Passwort" name="password"></div>
            <button class="btn btn-primary d-block btn-user w-100" type="submit">Einloggen</button>
            <hr>
        </form>
        {% if error %}
            <div class="alert alert-danger" role="alert"><span><strong>Achtung&nbsp;</strong>{{ error }}</span>
            </div>
        {% endif %}
        <div class="text-center">
            <p class="small">Falls Sie Ihr Passwrot vergessen haben, wenden Sie sich an den Admin</p></div>
    </div>
{% endblock %}